body{height: 100vh;
    background-color: black;
    background-image: url(imagens/wallpaper002.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}
main{
    background-color:rgba(0, 0, 0, 0.5);
    color: white;
    width: 700px;
    padding: 10px;
    margin: auto;
    border-radius: 15px;

}